@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@theme {
  --font-sans: "Space Grotesk", sans-serif;
  --font-mono: "Space Mono", monospace;

  --color-lime: #B7FF54;
  --color-orange: #FF8333;
  --color-mint: #57F695;
  --color-cyan: #26F2D5;
  --color-purple: #A369FF;
}